<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>validar</servlet-name>
        <servlet-class>controlador.validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>registrar</servlet-name>
        <servlet-class>controlador.registrar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>anadir_mensaje</servlet-name>
        <servlet-class>controlador.anadir_mensaje</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>actualizarPagina</servlet-name>
        <servlet-class>controlador.actualizarPagina</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>retwittear</servlet-name>
        <servlet-class>controlador.retwittear</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>seguir</servlet-name>
        <servlet-class>controlador.seguir</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>paginaHashtag</servlet-name>
        <servlet-class>controlador.paginaHashtag</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>verChat</servlet-name>
        <servlet-class>controlador.verChat</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validar</servlet-name>
        <url-pattern>/validar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>registrar</servlet-name>
        <url-pattern>/registrar.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>anadir_mensaje</servlet-name>
        <url-pattern>/anadir_mensaje.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>actualizarPagina</servlet-name>
        <url-pattern>/actualizarPagina.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>retwittear</servlet-name>
        <url-pattern>/retwittear.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>seguir</servlet-name>
        <url-pattern>/seguir.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>paginaHashtag</servlet-name>
        <url-pattern>/paginaHashtag.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>verChat</servlet-name>
        <url-pattern>/verChat.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
